{% extends 'Base/base.html' %}
{% load staticfiles %}

{% block div %}
<div  class="login">
    <h1>INICIAR SESIÓN</h1>
<form  method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario">
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Contraseña OwO">


    </div>
<button type="submit" class="btn btn-primary">Iniciar Sesión</button>

</form>
</div>


{% endblock div%}

