{% extends 'Base/base.html' %}
{% load staticfiles %}

{% block div %}
<div class="container marketing">

       

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Nuestro Estudio.</h2>
                <br>
                <p class="lead"> 
                    En Tax Max SpA, nos especializamos en brindar asesorías 
                    contables, financieras, tributarias, laborales, legales y comerciales a 
                    pequeñas y medianas empresas.Somos un Estudio que cuenta con 
                    profesionales capacitados, los cuales cuentan con un sistema de 
                    actualizaciones continuas y un equipo de análisis de las normas vigentes,
                    ofreciéndoles un servicio competitivo y de calidad.Contamos con experiencia asesorando empresas de variados rubros.</p>
            </div>
            <div id="img" >
                <img id="imgTamaño" src=" {% static 'img/4-min.png'%}" alt="nuestro_1" >
                <!-- class="col-md-5" -->
                <!-- class="featurette-image img-responsive" -->
                <!-- alt="Generic placeholder image" -->
            </div>
        </div>

       

        <div class="row featurette">
         <hr class="featurette-divider">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" id="img2" src="{% static 'img/imagen_2-min.jpg'%}" alt="imgane">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Nuestra Vision</h2>
                <br>
                <div class="lead" style="background-color:white;  white-space: normal;">
                    <p>Ser reconocidos como uno de los principales estudios de 
                        asesoría especializada en pequeñas y medianas empresas en pleno 
                        crecimiento en nuestro país, contribuyendo a formalizar e incrementar
                         la participación en el mercado..</p>
                    
                    
                </div>
            </div>
        </div>

        

{% endblock div %}
