{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contabilidad {% block title %} Title {% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'img' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    {% block head %}
    {% endblock head%}
</head>
<body id="body">
    
    <div class="container">

        <nav id="barra" class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0px;">
            <div style="display: flex;" class="container">
                <div  class="navbar-header" id="slogan">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div><a class="navbar-brand" ><p id="letra">Tax Max </p> </a> <img id="logo" src="{% static 'img/logo_1.png'%} " alt="logo"></div>
                    
                </div>
                <div  style="align-content: center; width: 100%;"  id="navbar" class="navbar-collapse collapse">
                        
                        <ul class="nav navbar-nav">
                        <li><a href="{% url 'gestion:Main' %}"><p id="letra1">Inicio</p> </a></li>
                        <li><a href="{% url 'gestion:Nosotros' %}"><p id="letra2">Nuestra Empresa</p></a></li>
                        <li><a href="{% url 'gestion:Servicio' %}"><p id="letra3">Servicio</p></a></li>
                        <li><a href="{% url 'gestion:Contacto' %}"><p id="letra4">Contactanos</p></a></li>
                          
                    </ul>
                    <div class="registro1" >
                        <ul  class="nav navbar-nav">
                        {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'gestion:Registro' %}"><p id="letra5">Registro</p> </a></li>
                        <li><a href="{% url 'gestion:Login' %}"><p id="letra5">Login</p> </a></li>
                        {% else %}
                        <li><a href="{% url 'gestion:Logout' %}"><p id="letra5">Logout</p> </a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>  
            </div>
        </nav>
    </div>

    <!-- Use a container to wrap the slider, the purpose is to enable slider to always fit width of the wrapper while window resize -->
    <div class="container">
        <!-- Jssor Slider Begin -->

        
        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 442px; overflow: hidden;">
            <!-- Loading Screen -->
            <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../svg/loading/static-svg/spin.svg" alt="atributo"/>
            </div>                                                                                                                           

            <!-- Slides Container -->
            <div data-u="slides" style="position: absolute; left: 0px; top: 0px; width: 1140px; height: 442px;
            overflow: hidden;">                                                
                <div>
                    <img id="carrusel1" data-u="image1" src="{% static 'img/1.png'%}" alt="carrusel1">
                </div>
                <div>
                    <img id="carrusel2"  data-u="image2" src="{% static 'img/2.jpg'%}" alt="carrusel1" />
                </div>
                <div>
                    <img id="carrusel3"  data-u="image3" src="{% static 'img/3.jpg'%}" alt="carrusel1" />
                </div>
                <div>
                    <img id="carrusel4"  data-u="image4" src="{% static 'img/pic01-min.jpg'%}" alt="carrusel1" />
                </div>
                
            </div>
            
            <!--#region Bullet Navigator Skin Begin -->
            <!-- Help: https://www.jssor.com/development/slider-with-bullet-navigator.html -->
           
            <div data-u="navigator" class="jssorb031" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                <div data-u="prototype" class="i" style="width:16px;height:16px;">
                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                    </svg>
                </div>
            </div>
            <!--#endregion Bullet Navigator Skin End -->
        
            <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: https://www.jssor.com/development/slider-with-arrow-navigator.html -->
           
            <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                </svg>
            </div>
            <!--#endregion Arrow Navigator Skin End -->

           
        </div>
        <!-- Jssor Slider End -->
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        
        
        <hr class="featurette-divider">
 
        
        {% block div %}
        {% endblock div %}
        
        <hr class="featurette-divider">
        <br>
        <br>
        <div class="row featurette">
            <div class="col-md-7">
                    <br>
                    <br>
                <h2 class="featurette-heading">Visitanos En Nuestras Redes Sociales</h2>
                <div class="lead" style="background-color:#f0f0f0;  white-space: nowrap;">
                    
                </div>
            </div>
            <div class="col-md-5">
               
                    <div id="social" class="social">
                            <ul>                                                                                                 
                                <li><a href="http://www.facebook.com/" target="_blank" class="icon-facebook"><img id="facebook" src="{% static 'img/facebook-logo-min.png'%}" alt="facebook"></a></li>
                                <li><a href="http://www.twitter.com/" target="_blank" class="icon-twitter"><img id="twitter" src="{% static 'img/twitter_logo.png'%}" alt="twitter"></a></li>
                                <li><a href="http://www.instagram.com/" target="_blank" class="icon-instagram"><img id="instragram" src="{% static 'img/instragram_logo.png'%}" alt="instragram"></a></li>
                                <li><a href="mailto:bry.palma@alumnos.duoc.cl" class="icon-mail"><img id="gmail" src="{% static 'img/gmail_logo.png'%}" alt="gmail"></a></li>
                            </ul>
                    </div>
                
            </div>
        </div>

        <hr class="featurette-divider">

      
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"> Moneda 7398 - Santiago Centro <br><a href="#">Inicio</a></p>
            <p> BryanPalma@TaxMax.cl - Gasp.Gonzalez@TaxMax.cl</p>

        </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
    <script src="{% static 'js/ie10-viewport-bug-workaround.js'%}"></script>
    <!-- jssor slider scripts-->
    <script type="text/javascript" src="{% static 'js/jssor.slider.min.js'%}"></script>
    <script>

        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: 1,                                       //[Optional] Auto play or not, to enable slideshow, this option must be set to greater than 0. Default value is 0. 0: no auto play, 1: continuously, 2: stop at last slide, 4: stop on click, 8: stop on user navigation (by arrow/bullet/thumbnail/drag/arrow key navigation)
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $Idle: 2000,                                        //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: 1,   			                //[Optional] Steps to go for each navigation request by pressing arrow key, default value is 1.
                $SlideEasing: $Jease$.$OutQuint,                    //[Optional] Specifies easing for right to left animation, default value is $Jease$.$OutQuad
                $SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide, default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $SpacingX: 12,                                  //[Optional] Horizontal space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    jssor_slider1.$ScaleWidth(parentWidth - 30);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

    {% block body %}
    {% endblock body %}
</body>
</html>