#logo{
    width: 50%;
    height: 100%;
    
}
#barra{
    background-color: steelblue;
    color: black;
}


#slogan{
	width: 300px;
	height: 100%;
	
}

.login{

	max-width: 250px;
}
#letra1{
    color: white;
}
#letra2{
    color: white;
}
#letra3{
    color: white;
}
#letra4{
    color: white;
}
#letra5{
    color: orange;
}
#img2{
   width: 70%; 
}
#carrusel1{
	width: 100%;
	height: 100%;
}
#carrusel2{
	width: 100%;
	height: 100%;
}
#carrusel3{
	width: 100%;
	height: 100%;
}
#carrusel4{
	width: 100%;
	height: 100%;
}




	

.social {
	
	position: initial; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0;/* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-instagram {background: orangered;}
	.social ul li .icon-mail {background: white;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}


#facebook{
    width: 50px;
    margin: auto;
    height: 40px;
}
#twitter{
    width: 50px;
    margin: auto;
    height: 40px;
}
#instragram{
    width: 50px;
    margin: auto;
    height: 40px;
}

#gmail{
    width: 50px;
    margin: auto;
    height: 40px;
}
#di{
    
    background-color: aliceblue;
}
.jssorl-009-spin>img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.jssorb031{position:absolute;}
.jssorb031>i{position:absolute;cursor:pointer;}
.jssorb031>i>b{fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031>i:hover>b{fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031>iav>b{fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031>i>idn{opacity:.3;}


.jssora051{display:block;position:absolute;cursor:pointer;}
.jssora051>a{fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover{opacity:.8;}
.jssora051>jssora051dn{opacity:.5;}
.jssora051>jssora051ds{opacity:.3;pointer-events:none;}



#Contable{
float: left;
width: 50%;
}

#servicio{

	align-content: space-around;
}

#Financiera{
float: right;
width: 50%;
}
#butongold{
color: rgb(51, 51, 51);
	background-color: goldenrod;
	align-self: center;
}
#butonest{
	color: rgb(51, 51, 51);
		background-color:lightgrey;
		align-self: center;
	}
#butonpre{
		color: rgb(51, 51, 51);
			background-color:black;
			align-self: center;
		}
#img_as{
	width: 40%;
	height: 40%;
	float: right;
}
#estandar{
background-color: rgb(198, 255, 252);

}

#premium{
	background-color: rgb(77, 154, 255);
	
}
#taxmas{
	background-color: gold;
	

}
#tex{
	font-size: 19px; 
}
#tex1{
	font-size: 19px; 
}
.registro1{
	float:right;
	width: 25%; 
	align-content: center;
}

@media (max-width: 600px){

	.registro1{
		float: left;
		background-color: aqua;
	}
}